.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
}

/****  Header area *****/

.App-header {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


/****   Maze area ****/

.maze_wrapper {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 40vh;
}

.row {
  display: flex;
  flex-direction: column;
}

.input_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

input {
  margin-bottom: 1rem;
  padding: 0.4rem;
  max-height: 3rem;
  max-width: 3rem;
  border-radius: 3px;
}
 label {
   margin: 1rem;
 }

/****  Footer area *****/

.footer {
  margin-top: 12rem;
  font-size: 0.5rem;
  color: white;
}