@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&family=Julius+Sans+One&display=swap');

:root {
  --special-font: 'Julius Sans One', sans-serif;
  --normal-font: 'Crimson Pro', serif;
}

body {
  font-family: var(--normal-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}

.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;

}

.App-link {
  color: yellow;
}

/****  Header area *****/

.App-header {
  padding-top: 3.5rem;
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 2rem;
  color: white;
}

h1 {
  font-family: var(--special-font);
  font-size: 3rem;
} 

.App p {
  font-size: 1rem;
}

/**** wrapper ****/
.wrapper {
  display: flex;
  flex-direction: column;
}

/****  Maze area ****/
.input_wrapper {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input_wrapper p,
label {
  font-size: 1.7rem;
}

input {
  margin-bottom: 1rem;
  padding: 0.6rem;
  max-height: 3rem;
  min-width: 4rem;
  border-radius: 3px;
  font-size: var(--special-font);
}

.label_input {
  display: flex;
  justify-content: space-around;
}

button {
  margin: 0.3rem;
  padding: 0.6rem;
  border-radius: 3px;
  border: none;
  width: 9rem;
}

.generation_button {
  background-color: rgb(254, 209, 217);
  color: black;
  border: 1px solid black;
}

.generation_button:hover {
  background-color: rgb(255, 98, 125);
  box-shadow: 2px 2px 2px black;
}

.solution_button {
  background-color: rgb(107, 176, 107);
}

.solution_button:hover {
  background-color: green;
  box-shadow: 2px 2px 2px black;
}

.maze {
  margin: 1rem;
}

.maze_wrapper {
  font-size: 1rem;
  padding: 0.3rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
}

.message_wrapper {
  font-size: 3rem;
}

/****  Footer area *****/
.footer {
  margin-top: 6rem;
  padding: 0.2rem;
  font-size: 1rem;
  color: white;
}

.footer a {
  padding: 1rem;
}

.footer p {
 margin: 1rem;
}