@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&family=Julius+Sans+One&display=swap');

:root {
  --special-font: 'Julius Sans One', sans-serif;
  --normal-font: 'Crimson Pro', serif;
}

body {
  font-family: var(--special-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}

.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
}

/****  Header area *****/

.App-header {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


/****   Maze area ****/

.maze_wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 40vh;
}

.row {
  display: flex;
}

.input_wrapper {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

input {
  margin-bottom: 1rem;
  padding: 0.6rem;
  max-height: 3rem;
  min-width: 4rem;
  border-radius: 3px;
  font-size: var(--special-font);
}
 label {
   margin: 1rem;
   font-size: 2rem;
 }

/****  Footer area *****/

.footer {
  margin-top: 12rem;
  font-size: 0.5rem;
  color: white;
}